misc/samsvalidationws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://open.ac.uk/SAMSValidationWS" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://open.ac.uk/SAMSValidationWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://open.ac.uk/SAMSValidationWS">
      <s:element name="GetAuthIdList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SamsCookie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthIdListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthIdListResult" type="tns:AuthIdListResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthIdListResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OUCU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthIds" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckUserAuthorisation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sOucu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAuthID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserAuthorisationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserAuthorisationResult" type="tns:UserAuthorisationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserAuthorisationResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="bIsAuthorised" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateCookie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCookie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCookieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateCookieResult" type="tns:ValidationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidationResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ValidationReturnCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataRetrievalReturnCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OUCU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDList" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Forename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateCookie2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCookie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCookie2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateCookie2Result" type="tns:ValidationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorporateContactSignonEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sContactCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorporateContactSignonEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorporateContactSignonEmailAddressResult" type="tns:CorporateContactSignonEmailAddressResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CorporateContactSignonEmailAddressResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SignonEmailAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthIdListResult" nillable="true" type="tns:AuthIdListResult" />
      <s:element name="UserAuthorisationResult" nillable="true" type="tns:UserAuthorisationResult" />
      <s:element name="ValidationResult" nillable="true" type="tns:ValidationResult" />
      <s:element name="CorporateContactSignonEmailAddressResult" nillable="true" type="tns:CorporateContactSignonEmailAddressResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAuthIdListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthIdList" />
  </wsdl:message>
  <wsdl:message name="GetAuthIdListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthIdListResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserAuthorisationSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserAuthorisation" />
  </wsdl:message>
  <wsdl:message name="CheckUserAuthorisationSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserAuthorisationResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCookieSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCookie" />
  </wsdl:message>
  <wsdl:message name="ValidateCookieSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCookieResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCookie2SoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCookie2" />
  </wsdl:message>
  <wsdl:message name="ValidateCookie2SoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCookie2Response" />
  </wsdl:message>
  <wsdl:message name="GetCorporateContactSignonEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetCorporateContactSignonEmailAddress" />
  </wsdl:message>
  <wsdl:message name="GetCorporateContactSignonEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetCorporateContactSignonEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthIdListHttpGetIn">
    <wsdl:part name="SamsCookie" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthIdListHttpGetOut">
    <wsdl:part name="Body" element="tns:AuthIdListResult" />
  </wsdl:message>
  <wsdl:message name="CheckUserAuthorisationHttpGetIn">
    <wsdl:part name="sOucu" type="s:string" />
    <wsdl:part name="sAuthID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserAuthorisationHttpGetOut">
    <wsdl:part name="Body" element="tns:UserAuthorisationResult" />
  </wsdl:message>
  <wsdl:message name="ValidateCookieHttpGetIn">
    <wsdl:part name="sCookie" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateCookieHttpGetOut">
    <wsdl:part name="Body" element="tns:ValidationResult" />
  </wsdl:message>
  <wsdl:message name="ValidateCookie2HttpGetIn">
    <wsdl:part name="sCookie" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateCookie2HttpGetOut">
    <wsdl:part name="Body" element="tns:ValidationResult" />
  </wsdl:message>
  <wsdl:message name="GetCorporateContactSignonEmailAddressHttpGetIn">
    <wsdl:part name="sContactCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCorporateContactSignonEmailAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:CorporateContactSignonEmailAddressResult" />
  </wsdl:message>
  <wsdl:message name="GetAuthIdListHttpPostIn">
    <wsdl:part name="SamsCookie" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthIdListHttpPostOut">
    <wsdl:part name="Body" element="tns:AuthIdListResult" />
  </wsdl:message>
  <wsdl:message name="CheckUserAuthorisationHttpPostIn">
    <wsdl:part name="sOucu" type="s:string" />
    <wsdl:part name="sAuthID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserAuthorisationHttpPostOut">
    <wsdl:part name="Body" element="tns:UserAuthorisationResult" />
  </wsdl:message>
  <wsdl:message name="ValidateCookieHttpPostIn">
    <wsdl:part name="sCookie" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateCookieHttpPostOut">
    <wsdl:part name="Body" element="tns:ValidationResult" />
  </wsdl:message>
  <wsdl:message name="ValidateCookie2HttpPostIn">
    <wsdl:part name="sCookie" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateCookie2HttpPostOut">
    <wsdl:part name="Body" element="tns:ValidationResult" />
  </wsdl:message>
  <wsdl:message name="GetCorporateContactSignonEmailAddressHttpPostIn">
    <wsdl:part name="sContactCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCorporateContactSignonEmailAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:CorporateContactSignonEmailAddressResult" />
  </wsdl:message>
  <wsdl:portType name="ValidationSoap">
    <wsdl:operation name="GetAuthIdList">
      <wsdl:input message="tns:GetAuthIdListSoapIn" />
      <wsdl:output message="tns:GetAuthIdListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthorisation">
      <wsdl:input message="tns:CheckUserAuthorisationSoapIn" />
      <wsdl:output message="tns:CheckUserAuthorisationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie">
      <wsdl:input message="tns:ValidateCookieSoapIn" />
      <wsdl:output message="tns:ValidateCookieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie2">
      <wsdl:input message="tns:ValidateCookie2SoapIn" />
      <wsdl:output message="tns:ValidateCookie2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorporateContactSignonEmailAddress">
      <wsdl:input message="tns:GetCorporateContactSignonEmailAddressSoapIn" />
      <wsdl:output message="tns:GetCorporateContactSignonEmailAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ValidationHttpGet">
    <wsdl:operation name="GetAuthIdList">
      <wsdl:input message="tns:GetAuthIdListHttpGetIn" />
      <wsdl:output message="tns:GetAuthIdListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthorisation">
      <wsdl:input message="tns:CheckUserAuthorisationHttpGetIn" />
      <wsdl:output message="tns:CheckUserAuthorisationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie">
      <wsdl:input message="tns:ValidateCookieHttpGetIn" />
      <wsdl:output message="tns:ValidateCookieHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie2">
      <wsdl:input message="tns:ValidateCookie2HttpGetIn" />
      <wsdl:output message="tns:ValidateCookie2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorporateContactSignonEmailAddress">
      <wsdl:input message="tns:GetCorporateContactSignonEmailAddressHttpGetIn" />
      <wsdl:output message="tns:GetCorporateContactSignonEmailAddressHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ValidationHttpPost">
    <wsdl:operation name="GetAuthIdList">
      <wsdl:input message="tns:GetAuthIdListHttpPostIn" />
      <wsdl:output message="tns:GetAuthIdListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthorisation">
      <wsdl:input message="tns:CheckUserAuthorisationHttpPostIn" />
      <wsdl:output message="tns:CheckUserAuthorisationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie">
      <wsdl:input message="tns:ValidateCookieHttpPostIn" />
      <wsdl:output message="tns:ValidateCookieHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie2">
      <wsdl:input message="tns:ValidateCookie2HttpPostIn" />
      <wsdl:output message="tns:ValidateCookie2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorporateContactSignonEmailAddress">
      <wsdl:input message="tns:GetCorporateContactSignonEmailAddressHttpPostIn" />
      <wsdl:output message="tns:GetCorporateContactSignonEmailAddressHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidationSoap" type="tns:ValidationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetAuthIdList">
      <soap:operation soapAction="http://open.ac.uk/SAMSValidationWS/GetAuthIdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthorisation">
      <soap:operation soapAction="http://open.ac.uk/SAMSValidationWS/CheckUserAuthorisation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie">
      <soap:operation soapAction="http://open.ac.uk/SAMSValidationWS/ValidateCookie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie2">
      <soap:operation soapAction="http://open.ac.uk/SAMSValidationWS/ValidateCookie2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorporateContactSignonEmailAddress">
      <soap:operation soapAction="http://open.ac.uk/SAMSValidationWS/GetCorporateContactSignonEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidationHttpGet" type="tns:ValidationHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAuthIdList">
      <http:operation location="/GetAuthIdList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthorisation">
      <http:operation location="/CheckUserAuthorisation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie">
      <http:operation location="/ValidateCookie" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie2">
      <http:operation location="/ValidateCookie2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorporateContactSignonEmailAddress">
      <http:operation location="/GetCorporateContactSignonEmailAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidationHttpPost" type="tns:ValidationHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAuthIdList">
      <http:operation location="/GetAuthIdList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthorisation">
      <http:operation location="/CheckUserAuthorisation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie">
      <http:operation location="/ValidateCookie" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCookie2">
      <http:operation location="/ValidateCookie2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorporateContactSignonEmailAddress">
      <http:operation location="/GetCorporateContactSignonEmailAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Validation">
    <wsdl:port name="ValidationSoap" binding="tns:ValidationSoap">
      <soap:address location="http://csintra6-test.open.ac.uk/samswebservices/samsvalidationws/samsvalidationws.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidationHttpGet" binding="tns:ValidationHttpGet">
      <http:address location="http://csintra6-test.open.ac.uk/samswebservices/samsvalidationws/samsvalidationws.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidationHttpPost" binding="tns:ValidationHttpPost">
      <http:address location="http://csintra6-test.open.ac.uk/samswebservices/samsvalidationws/samsvalidationws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>